@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
	<div class="col-lg-8">
		<h1>Novo produto</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-9">
		<form name="formProduto" id="formProduto">
			<div class="row">

				<div class="col-lg-3">
					<div class="form-group">
						<label class="label-control">Fornecedor</label>
						<select id="fornecedor" name="fornecedor">
													</select>
					</div>
				</div>

				<div class="col-lg-3">
					<div class="form-group">
						<label class="label-control">Nome</label>
						<input type="form-control" type="text" name="nome" id="nome">
					</div>
				</div>

				<div class="col-lg-3">
					<div class="form-group">
						<label class="label-control">Estoque mínimo</label>
						<input type="form-control" type="text" name="estoqueMinimo" id="estoqueMinimo">
					</div>
				</div>

				<div class="col-lg-3">
					<div class="form-group">
						<label class="label-control">Data de validade</label>
						<input type="form-control" type="text" name="dataValidade" id="dataValidade">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-3">
					<div class="form-group">
						<label class="label-control">Custo</label>
						<input type="form-control" type="text" name="custo" id="custo">
					</div>
				</div>

				<div class="col-lg-3">
					<div class="form-group">
						<label class="label-control">Custo venda</label>
						<input type="form-control" type="text" name="custoVenda" id="custoVenda">
					</div>
				</div>

				<div class="col-lg-3">
					<div class="form-group">
						<label class="label-control">Localização</label>
						<input type="form-control" type="text" name="localizacao" id="localizacao">
					</div>
				</div>

				<div class="col-lg-3">
					<div class="form-group">
						<label class="label-control">Marca</label>
						<input type="form-control" type="text" name="marca" id="marca">
					</div>
				</div>
			</div>
			<input type="button" id="btnSalvar" value="Salvar" onclick="cadastrar()" />
	</div>
	</form>
</div>
</div>
<script src="~/Scripts/Produto/produto.js"></script>
