@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
<div class="col-lg-8">
	<h1>Novo fornecedor</h1>
</div>
</div>
<div class="row">
<div class="col-lg-9">
	<form name="formFornecedor" id="formFornecedor">
		<div class="row">
			<div class="col-lg-3">
				<div class="form-group">
					<label class="label-control">Nome</label>
					<input type="form-control" type="text" name="nome" id="nome">
				</div>
			</div>

			<div class="col-lg-3">
				<div class="form-group">
					<label class="label-control">CEP</label>
					<input type="form-control" type="text" name="cep" id="cep">
				</div>
			</div>

			<div class="col-lg-3">
				<div class="form-group">
					<label class="label-control">Endereço</label>
					<input type="form-control" type="text" name="endereco" id="endereco">
				</div>
			</div>

			<div class="col-lg-3">
				<div class="form-group">
					<label class="label-control">Rua</label>
					<input type="form-control" type="text" name="rua" id="rua">
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-lg-3">
				<div class="form-group">
					<label class="label-control">UF</label>
					<input type="form-control" type="text" name="uf" id="uf">
				</div>
			</div>

			<div class="col-lg-3">
				<div class="form-group">
					<label class="label-control">Cidade</label>
					<input type="form-control" type="text" name="cidade" id="cidade">
				</div>
			</div>

			<div class="col-lg-3">
				<div class="form-group">
					<label class="label-control">Número</label>
					<input type="form-control" type="text" name="numero" id="numero">
				</div>
			</div>

			<div class="col-lg-3">
				<div class="form-group">
					<label class="label-control">Complemento</label>
					<input type="form-control" type="text" name="complemento" id="complemento">
				</div>
			</div>
			<input type="button" id="btnSalvar" value="Salvar" onclick="cadastrar()" />
		</div>
	</form>
</div>
</div>
<script src="~/Scripts/Fornecedor/fornecedor.js"></script>
