@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
<div class="col-lg-8">
	<h1>Fornecedores</h1>
</div>
</div>

	<div class="row">
		<div class="col-lg-3">
			<a href="/Fornecedor/Cadastrar">Novo fornecedor</a>
		</div>
		<div class="col-lg-9">
			<div id="fornecedores">
			</div>
		</div>
	</div>

<script src="~/Scripts/Fornecedor/fornecedor.js"></script>