<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>I9 Soluções - Sistema de Estoque</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	<script src="~/Scripts/toastr/toastr.min.js"></script>
	<script src="~/Scripts/Home/Validacao.js"></script>


</head>
<body>

	<div class="container">
<div class="row">
<div class="col-lg-8">
		<h1>Entrar</h1>
</div>
</div>
<div class="row">
<div class="col-lg-9">
		<form name="formLogin" id="formLogin">
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label class="label-control">E-mail</label>
						<input type="form-control" type="email" name="email" id="email">
					</div>
				</div>

				<div class="col-lg-6">
					<div class="form-group">
						<label class="label-control">Senha</label>
						<input class="form-control" type="password" name="senha" id="senha">
					</div>
				</div>
				<input type="button" id="btnEntrar" value="Ok" onclick="validarLogin()" />

			</div>
		</form>
	</div>
</div>
</div>
</body>
</html>